<a href="https://colab.research.google.com/github/Kushan1001/Hotel-booking-data-analysis/blob/main/Hotel_Booking_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# mouting the google drive and creating a pandas dataframe of hotels booking data

working_dir = '/content/drive/MyDrive/Capstone project/EDA/Data/Hotel Bookings.csv'
df = pd.read_csv(working_dir)

In [ ]:
# having a glance view of the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [ ]:
df.shape

(119390, 30)

In [ ]:
# getting the top 10 values

df.head(10)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03
5  Resort Hotel            0  ...           Check-Out               2015-07-03
6  Resort Hotel            0  ...           Check-Out               2015-07-03
7  Resort Hotel            0  ...           Check-Out               2015-07-03
8  Resort Hotel            1  ...            Canceled               2015-05-06
9  Resort Hotel            1  ...            Canceled               2015-04-22

[10 rows x 32 columns]

In [ ]:
# getting the bottom 10 values

df.tail(10)

             hotel  is_canceled  ...  reservation_status  reservation_status_date
119380  City Hotel            0  ...           Check-Out               2017-09-04
119381  City Hotel            0  ...           Check-Out               2017-09-05
119382  City Hotel            0  ...           Check-Out               2017-09-05
119383  City Hotel            0  ...           Check-Out               2017-09-06
119384  City Hotel            0  ...           Check-Out               2017-09-06
119385  City Hotel            0  ...           Check-Out               2017-09-06
119386  City Hotel            0  ...           Check-Out               2017-09-07
119387  City Hotel            0  ...           Check-Out               2017-09-07
119388  City Hotel            0  ...           Check-Out               2017-09-07
119389  City Hotel            0  ...           Check-Out               2017-09-07

[10 rows x 32 columns]

In [ ]:
# Dropping agent and company's columns

df.drop(columns=['agent','company'],inplace=True)

In [ ]:
# checking the unique values in the children column and calculating the number NA values

df['children'].unique()

array([ 0.,  1.,  2., 10.,  3., nan])

In [ ]:
# replacing the NA values with zero and converting them into integers

df['children'].replace(np.NaN,0,inplace = True)
df['children'] = df['children'].astype('int64')

In [ ]:
pd.set_option('display.max_rows',119390)

In [ ]:
filt = df['country'].isna()
df.loc[filt == True, : ]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,0,0,BB,NaN,Direct,Direct,0,0,0,A,A,2,No Deposit,0,Transient,62.00,0,2,Check-Out,2015-07-15
4127,Resort Hotel,1,0,2016,February,8,15,0,0,0,0,0,SC,NaN,Offline TA/TO,TA/TO,0,0,0,P,P,0,No Deposit,0,Transient,0.00,0,0,Canceled,2016-02-15
7092,Resort Hotel,1,8,2016,July,30,21,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,73.00,0,2,Canceled,2016-07-20
7860,Resort Hotel,1,39,2016,August,36,30,0,5,2,0,0,HB,NaN,Direct,Direct,0,0,0,A,A,0,No Deposit,0,Transient,159.00,0,5,Canceled,2016-07-22
8779,Resort Hotel,1,0,2016,October,42,13,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,50.00,0,0,Canceled,2016-10-13
9376,Resort Hotel,1,0,2016,November,48,21,0,0,0,0,0,SC,NaN,Offline TA/TO,TA/TO,0,0,0,P,P,0,No Deposit,0,Group,0.00,0,0,Canceled,2016-11-21
9610,Resort Hotel,1,4,2016,December,52,20,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,30.00,0,2,Canceled,2016-12-19
9612,Resort Hotel,1,4,2016,December,52,20,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,30.00,0,2,Canceled,2016-12-19
11262,Resort Hotel,1,87,2017,April,18,30,2,3,2,0,0,BB,NaN,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,48.00,0,0,Canceled,2017-02-02
11263,Resort Hotel,1,87,2017,April,18,30,2,3,2,0,0,BB,NaN,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,48.00,0,0,Canceled,2017-02-02
11264,Resort Hotel,1,87,2017,April,18,30,2,3,2,0,0,BB,NaN,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,48.00,0,0,Canceled,2017-02-02
11265,Resort Hotel,1,87,2017,April,18,30,2,3,2,0,0,BB,NaN,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,48.00,0,0,Canceled,2017-02-02
11266,Resort Hotel,1,87,2017,April,18,30,2,3,2,0,0,BB,NaN,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,48.00,0,0,Canceled,2017-02-02
13803,Resort Hotel,0,7,2016,January,3,13,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,D,0,No Deposit,0,Transient,27.00,0,0,Check-Out,2016-01-15
13804,Resort Hotel,0,7,2016,January,4,18,1,3,1,0,0,BB,NaN,Corporate,Corporate,0,0,2,A,A,0,No Deposit,0,Transient,28.50,1,0,Check-Out,2016-01-22
13805,Resort Hotel,1,2,2016,October,42,12,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,1,3,A,A,0,No Deposit,0,Transient,37.00,0,0,Canceled,2016-10-10
13807,Resort Hotel,0,7,2016,January,3,13,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,27.00,0,0,Check-Out,2016-01-15
13809,Resort Hotel,0,7,2016,September,38,13,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,66.00,1,0,Check-Out,2016-09-15
13810,Resort Hotel,0,66,2015,September,39,26,4,6,2,0,0,HB,NaN,Direct,Direct,0,0,0,E,E,1,No Deposit,0,Transient,115.00,1,2,Check-Out,2015-10-06
13811,Resort Hotel,1,71,2016,July,29,14,3,8,2,0,0,HB,NaN,Direct,Direct,0,1,1,E,E,1,No Deposit,0,Transient,126.60,0,1,Canceled,2016-07-12
13816,Resort Hotel,0,6,2016,April,15,6,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,1,No Deposit,0,Transient,39.00,0,0,Check-Out,2016-04-08
13819,Resort Hotel,0,11,2016,February,6,1,1,3,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,27.00,0,0,Check-Out,2016-02-05
13820,Resort Hotel,0,1,2016,March,11,8,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,D,0,No Deposit,0,Transient,27.00,0,0,Check-Out,2016-03-10
13823,Resort Hotel,0,7,2016,January,4,20,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,25.00,0,0,Check-Out,2016-01-21
13828,Resort Hotel,0,5,2016,March,11,8,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,27.00,1,0,Check-Out,2016-03-10
13829,Resort Hotel,0,14,2016,October,44,24,1,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,A,0,No Deposit,0,Transient,39.00,0,0,Check-Out,2016-10-27
13830,Resort Hotel,0,6,2016,June,24,8,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,90.00,0,0,Check-Out,2016-06-09
13831,Resort Hotel,0,7,2016,December,50,6,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,D,0,No Deposit,0,Transient,50.00,0,0,Check-Out,2016-12-07
13834,Resort Hotel,0,1,2016,September,38,16,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,G,1,No Deposit,0,Transient,58.00,0,0,Check-Out,2016-09-17
13835,Resort Hotel,0,2,2017,January,4,25,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,2,A,D,0,No Deposit,0,Transient-Party,35.00,0,0,Check-Out,2017-01-27
13836,Resort Hotel,0,7,2016,January,3,13,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,27.00,1,0,Check-Out,2016-01-15
13837,Resort Hotel,0,5,2016,April,18,26,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,D,0,No Deposit,0,Transient,42.00,1,0,Check-Out,2016-04-28
13840,Resort Hotel,0,14,2016,March,11,7,1,3,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,30.00,0,0,Check-Out,2016-03-11
13841,Resort Hotel,0,4,2016,May,19,2,1,3,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,C,0,No Deposit,0,Transient,42.00,0,0,Check-Out,2016-05-06
13842,Resort Hotel,0,118,2015,July,27,1,4,10,2,0,0,BB,NaN,Direct,Direct,0,0,0,E,E,3,No Deposit,0,Transient,80.00,1,1,Check-Out,2015-07-15
13846,Resort Hotel,0,0,2016,March,12,16,0,2,1,0,0,BB,NaN,Complementary,Direct,0,0,0,A,E,1,No Deposit,0,Transient,0.00,0,0,Check-Out,2016-03-18
13848,Resort Hotel,0,105,2015,December,53,29,0,3,2,0,0,HB,NaN,Direct,Direct,0,0,1,E,E,0,No Deposit,0,Transient,70.15,0,2,Check-Out,2016-01-01
13850,Resort Hotel,0,52,2016,March,13,25,1,2,2,0,0,BB,NaN,Direct,Direct,0,0,3,E,E,0,No Deposit,0,Transient,93.67,1,2,Check-Out,2016-03-28
13851,Resort Hotel,0,81,2016,December,53,31,1,1,2,0,0,BB,NaN,Direct,Direct,0,0,4,E,E,0,No Deposit,0,Transient,217.50,1,2,Check-Out,2017-01-02
13868,Resort Hotel,0,6,2016,January,4,20,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,27.00,1,0,Check-Out,2016-01-21
13871,Resort Hotel,0,7,2016,October,41,3,1,1,2,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,50.00,0,0,Check-Out,2016-10-05
13872,Resort Hotel,0,0,2016,November,46,7,1,1,1,0,0,BB,NaN,Direct,Direct,0,0,0,E,E,0,No Deposit,0,Transient,72.00,1,1,Check-Out,2016-11-09
13873,Resort Hotel,0,12,2015,September,37,9,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,A,0,No Deposit,0,Transient,134.00,0,0,Check-Out,2015-09-10
13874,Resort Hotel,0,8,2016,February,6,4,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,2,A,D,0,No Deposit,0,Transient,30.00,0,0,Check-Out,2016-02-05
13875,Resort Hotel,1,27,2016,April,17,20,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,3,A,A,0,No Deposit,0,Transient,42.00,0,0,Canceled,2016-04-20
13876,Resort Hotel,0,16,2016,May,21,19,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,1,3,A,A,0,No Deposit,0,Transient,42.00,0,0,Check-Out,2016-05-20
13882,Resort Hotel,0,0,2016,January,4,18,1,0,2,0,0,BB,NaN,Direct,Direct,0,0,0,A,D,0,No Deposit,0,Transient,44.00,0,0,Check-Out,2016-01-19
13883,Resort Hotel,0,0,2017,January,3,16,1,0,2,0,0,BB,NaN,Direct,Direct,0,0,1,A,F,0,No Deposit,0,Transient,56.00,0,1,Check-Out,2017-01-17
13884,Resort Hotel,0,2,2015,July,30,21,0,2,2,0,0,BB,NaN,Direct,Direct,0,0,1,G,G,0,No Deposit,0,Transient,50.00,1,0,Check-Out,2015-07-23
13885,Resort Hotel,0,1,2016,January,5,29,0,2,1,0,0,BB,NaN,Direct,Direct,0,0,2,G,G,1,No Deposit,0,Transient,50.00,1,0,Check-Out,2016-01-31
13886,Resort Hotel,0,1,2016,June,25,17,1,2,1,0,0,BB,NaN,Direct,Direct,0,0,3,A,A,0,No Deposit,0,Transient,50.00,1,1,Check-Out,2016-06-20
13887,Resort Hotel,0,0,2016,November,47,18,0,2,2,0,0,BB,NaN,Direct,Direct,0,0,4,D,G,0,No Deposit,0,Transient,60.00,1,3,Check-Out,2016-11-20
13888,Resort Hotel,0,8,2017,March,12,24,0,2,1,0,0,BB,NaN,Direct,Direct,0,0,5,F,H,0,No Deposit,0,Transient,50.00,1,3,Check-Out,2017-03-26
13890,Resort Hotel,0,3,2015,September,40,29,0,1,1,0,0,BB,NaN,Direct,Direct,0,0,2,A,H,0,No Deposit,0,Transient,71.00,1,0,Check-Out,2015-09-30
13894,Resort Hotel,1,3,2015,September,40,28,1,0,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,A,1,No Deposit,0,Transient,75.00,0,2,Canceled,2015-09-28
13895,Resort Hotel,0,0,2015,September,40,30,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,1,1,A,F,1,No Deposit,0,Transient,48.00,1,2,Check-Out,2015-10-02
13907,Resort Hotel,0,0,2016,February,8,17,0,1,1,0,0,BB,NaN,Direct,Direct,0,0,0,A,A,0,No Deposit,0,Transient,40.00,0,0,Check-Out,2016-02-18
13911,Resort Hotel,0,131,2016,July,28,9,3,6,2,1,0,BB,NaN,Direct,Direct,0,0,0,C,I,0,No Deposit,0,Transient,0.00,1,0,Check-Out,2016-07-18
13912,Resort Hotel,0,2,2016,March,11,10,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,A,0,No Deposit,0,Transient,42.00,1,0,Check-Out,2016-03-11
13919,Resort Hotel,0,1,2015,November,45,3,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,A,0,No Deposit,0,Transient,35.00,0,0,Check-Out,2015-11-05
13920,Resort Hotel,0,0,2016,February,8,16,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,2,A,D,1,No Deposit,0,Transient,30.00,0,0,Check-Out,2016-02-17
13921,Resort Hotel,0,0,2016,April,18,26,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,3,A,D,0,No Deposit,0,Transient,42.00,0,0,Check-Out,2016-04-28
13922,Resort Hotel,0,1,2016,July,30,19,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,4,A,A,0,No Deposit,0,Transient,126.00,0,0,Check-Out,2016-07-21
13923,Resort Hotel,0,1,2016,November,46,8,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,5,A,C,0,No Deposit,0,Transient,30.00,0,0,Check-Out,2016-11-10
13931,Resort Hotel,0,151,2015,July,31,31,2,7,2,0,0,BB,NaN,Direct,Direct,0,0,0,G,F,0,No Deposit,0,Transient,171.20,1,0,Check-Out,2015-08-09
13939,Resort Hotel,0,11,2016,November,47,15,0,1,1,0,0,BB,NaN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,34.40,0,0,Check-Out,2016-11-16
13944,Resort Hotel,0,7,2015,July,29,14,0,1,1,0,0,BB,NaN,Direct,Direct,0,0,1,A,A,0,No Deposit,0,Transient,4.00,0,1,Check-Out,2015-07-15
13945,Resort Hotel,0,8,2015,November,48,25,0,1,1,0,0,BB,NaN,Direct,Direct,0,0,2,A,D,0,No Deposit,0,Transient,35.00,0,1,Check-Out,2015-11-26
13947,Resort Hotel,0,1,2017,March,13,28,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,35.00,0,0,Check-Out,2017-03-30
13948,Resort Hotel,0,0,2015,October,42,14,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,D,0,No Deposit,0,Transient,48.00,1,1,Check-Out,2015-10-15
13949,Resort Hotel,1,1,2015,October,43,20,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,2,A,E,0,No Deposit,0,Transient,48.00,0,1,Canceled,2015-10-20
13950,Resort Hotel,1,0,2015,October,43,24,0,1,2,0,0,BB,NaN,Corporate,Corporate,0,1,2,A,A,0,No Deposit,0,Transient,53.00,0,2,No-Show,2015-10-24
13951,Resort Hotel,0,4,2015,October,44,30,0,2,2,0,0,BB,NaN,Corporate,Corporate,0,2,2,A,E,1,No Deposit,0,Transient,40.00,1,2,Check-Out,2015-11-01
13952,Resort Hotel,0,0,2015,December,51,15,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,2,3,A,A,0,No Deposit,0,Transient,35.00,0,2,Check-Out,2015-12-16
13963,Resort Hotel,0,0,2016,February,6,2,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,30.00,0,0,Check-Out,2016-02-04
13965,Resort Hotel,0,0,2016,January,3,14,0,1,1,0,0,BB,NaN,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,0,Transient,40.00,0,1,Check-Out,2016-01-15
13970,Resort Hotel,0,2,2016,February,8,17,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,E,0,No Deposit,0,Transient,30.00,0,0,Check-Out,2016-02-18
13972,Resort Hotel,0,0,2016,April,18,27,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,C,0,No Deposit,0,Transient,42.00,0,0,Check-Out,2016-04-28
13973,Resort Hotel,0,0,2016,December,51,14,0,0,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,A,0,No Deposit,0,Transient,0.00,0,0,Check-Out,2016-12-14
13974,Resort Hotel,0,7,2017,April,14,5,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,2,A,G,0,No Deposit,0,Transient,48.00,0,0,Check-Out,2017-04-06
13976,Resort Hotel,0,1,2015,November,47,18,0,1,1,0,0,BB,NaN,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,0,Transient,36.00,0,1,Check-Out,2015-11-19
13977,Resort Hotel,0,0,2015,December,51,17,0,1,1,0,0,BB,NaN,Online TA,TA/TO,0,0,1,A,A,0,No Deposit,0,Transient,25.00,0,1,Check-Out,2015-12-18
13978,Resort Hotel,0,2,2016,February,6,3,0,2,1,0,0,BB,NaN,Online TA,TA/TO,0,0,2,A,D,0,No Deposit,0,Group,25.00,0,1,Check-Out,2016-02-05
13984,Resort Hotel,0,9,2016,April,18,28,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient-Party,39.00,0,0,Check-Out,2016-04-29
13986,Resort Hotel,0,7,2016,November,47,15,0,1,1,0,0,BB,NaN,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,30.00,0,0,Check-Out,2016-11-16
13988,Resort Hotel,1,11,2016,July,28,4,1,3,1,0,0,BB,NaN,Corporate,Direct,0,1,0,A,A,0,No Deposit,0,Transient,65.00,0,0,Canceled,2016-06-23
13989,Resort Hotel,0,11,2016,October,44,24,1,3,1,0,0,BB,NaN,Corporate,Direct,0,1,0,A,A,0,No Deposit,0,Transient,52.00,0,0,Check-Out,2016-10-28
13991,Resort Hotel,0,0,2015,August,31,1,0,1,2,0,0,BB,NaN,Direct,Direct,0,0,1,G,G,0,No Deposit,0,Transient,200.00,1,1,Check-Out,2015-08-02
13992,Resort Hotel,0,5,2015,August,35,23,2,0,2,1,0,BB,NaN,Direct,Direct,0,0,2,A,E,0,No Deposit,0,Transient,130.00,1,2,Check-Out,2015-08-25
13993,Resort Hotel,0,1,2015,October,40,3,0,1,2,0,0,BB,NaN,Direct,Direct,0,0,3,G,H,0,No Deposit,0,Transient,99.00,1,2,Check-Out,2015-10-04
13994,Resort Hotel,0,0,2016,January,4,23,0,1,2,0,0,BB,NaN,Direct,Direct,0,0,4,A,E,0,No Deposit,0,Transient,58.00,1,2,Check-Out,2016-01-24
13997,Resort Hotel,0,1,2016,January,3,14,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,E,0,No Deposit,0,Transient-Party,30.00,1,0,Check-Out,2016-01-15
14002,Resort Hotel,0,4,2015,July,27,1,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,4,A,C,0,No Deposit,0,Transient,134.00,0,0,Check-Out,2015-07-02
14003,Resort Hotel,0,7,2015,July,29,14,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,5,A,C,0,No Deposit,0,Transient,134.00,0,1,Check-Out,2015-07-15
14004,Resort Hotel,0,2,2015,November,45,4,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,6,A,D,1,No Deposit,0,Transient,35.00,0,1,Check-Out,2015-11-06
14005,Resort Hotel,0,8,2015,November,48,25,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,7,A,D,0,No Deposit,0,Transient,35.00,0,1,Check-Out,2015-11-26
14006,Resort Hotel,0,1,2015,December,51,15,0,1,2,0,0,BB,NaN,Corporate,Corporate,0,0,8,D,E,0,No Deposit,0,Transient,35.00,0,1,Check-Out,2015-12-16
14007,Resort Hotel,0,1,2015,December,52,22,0,1,2,0,0,BB,NaN,Corporate,Corporate,0,0,9,D,D,0,No Deposit,0,Transient,50.00,0,2,Check-Out,2015-12-23
14009,Resort Hotel,0,0,2016,February,6,3,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,11,A,E,1,No Deposit,0,Transient,30.00,0,1,Check-Out,2016-02-05
14014,Resort Hotel,0,1,2016,May,20,11,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,16,A,E,0,No Deposit,0,Transient,50.00,0,0,Check-Out,2016-05-12
14015,Resort Hotel,0,1,2016,June,25,15,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,17,A,C,0,No Deposit,0,Transient,65.00,0,0,Check-Out,2016-06-16
14016,Resort Hotel,0,7,2016,July,28,6,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,18,A,F,0,No Deposit,0,Transient,73.00,0,2,Check-Out,2016-07-07
14017,Resort Hotel,0,1,2016,July,28,7,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,18,A,D,0,No Deposit,0,Transient,73.00,0,2,Check-Out,2016-07-08
14018,Resort Hotel,0,11,2016,July,30,19,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,20,A,G,1,No Deposit,0,Transient,73.00,0,2,Check-Out,2016-07-21
14020,Resort Hotel,0,2,2016,November,46,9,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,22,A,C,0,No Deposit,0,Transient,35.00,0,2,Check-Out,2016-11-10
14021,Resort Hotel,0,2,2016,December,51,14,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,23,A,D,1,No Deposit,0,Transient,30.00,0,2,Check-Out,2016-12-16
14028,Resort Hotel,0,2,2017,April,15,12,0,1,1,0,0,BB,NaN,Direct,Direct,0,1,29,A,D,0,No Deposit,0,Transient,45.00,0,0,Check-Out,2017-04-13
14037,Resort Hotel,0,113,2015,August,31,1,18,42,1,0,0,HB,NaN,Direct,Direct,0,0,0,E,E,0,No Deposit,0,Transient,110.50,0,3,Check-Out,2015-09-30
14038,Resort Hotel,0,126,2016,July,28,5,19,50,1,0,0,HB,NaN,Direct,Direct,0,0,1,E,E,2,No Deposit,0,Transient,110.00,0,3,Check-Out,2016-09-12
14040,Resort Hotel,0,0,2016,February,6,2,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,D,0,No Deposit,0,Transient,39.00,0,0,Check-Out,2016-02-04
14041,Resort Hotel,0,0,2016,April,18,26,0,2,1,0,0,BB,NaN,Direct,Corporate,0,0,2,A,A,0,No Deposit,0,Transient,47.70,1,0,Check-Out,2016-04-28
14042,Resort Hotel,0,5,2016,May,23,30,1,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,3,A,A,0,No Deposit,0,Transient-Party,54.00,0,0,Check-Out,2016-06-01
14043,Resort Hotel,0,0,2016,October,43,18,0,2,1,0,0,BB,NaN,Corporate,Corporate,0,0,4,A,F,0,No Deposit,0,Transient,50.00,1,0,Check-Out,2016-10-20
14044,Resort Hotel,0,0,2017,February,7,13,1,2,1,0,0,BB,NaN,Direct,Corporate,0,0,5,A,E,0,No Deposit,0,Transient,43.00,0,1,Check-Out,2017-02-16
14045,Resort Hotel,0,0,2016,February,6,2,0,2,1,0,0,BB,NaN,Direct,Direct,0,0,1,A,D,0,No Deposit,0,Transient,39.00,0,0,Check-Out,2016-02-04
14046,Resort Hotel,0,0,2017,February,7,13,1,2,1,0,0,BB,NaN,Direct,Direct,0,0,2,A,E,0,No Deposit,0,Transient,43.00,0,1,Check-Out,2017-02-16
14048,Resort Hotel,0,7,2016,October,45,31,1,2,2,0,0,HB,NaN,Online TA,TA/TO,0,0,1,E,I,1,No Deposit,0,Transient,78.42,1,1,Check-Out,2016-11-03
14049,Resort Hotel,0,64,2016,November,45,3,2,5,2,0,0,HB,NaN,Online TA,TA/TO,0,0,1,D,D,1,No Deposit,0,Transient,79.80,1,3,Check-Out,2016-11-10
14050,Resort Hotel,0,0,2016,January,5,27,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,E,0,No Deposit,0,Transient,25.00,0,0,Check-Out,2016-01-28
14051,Resort Hotel,0,0,2017,January,2,9,1,2,1,0,0,BB,NaN,Complementary,Direct,0,0,1,A,D,0,No Deposit,0,Group,0.00,0,0,Check-Out,2017-01-12
14052,Resort Hotel,0,0,2017,March,9,1,0,1,1,0,0,BB,NaN,Direct,Direct,0,0,2,A,A,1,No Deposit,0,Transient,0.00,0,0,Check-Out,2017-03-02
14053,Resort Hotel,0,5,2015,November,48,25,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,1,A,A,0,No Deposit,0,Transient,25.00,1,0,Check-Out,2015-11-26
14054,Resort Hotel,0,7,2016,January,4,18,1,3,1,0,0,BB,NaN,Corporate,Corporate,0,0,2,A,A,0,No Deposit,0,Transient,27.00,0,0,Check-Out,2016-01-22
14055,Resort Hotel,0,0,2016,May,23,29,2,1,1,0,0,BB,NaN,Direct,Direct,0,0,0,A,A,0,No Deposit,0,Transient,76.00,1,0,Check-Out,2016-06-01
14056,Resort Hotel,0,0,2016,October,44,24,1,1,1,0,0,BB,NaN,Direct,Direct,0,0,1,A,A,0,No Deposit,0,Transient,61.00,1,1,Check-Out,2016-10-26
14057,Resort Hotel,0,0,2017,January,1,4,0,3,1,0,0,BB,NaN,Direct,Direct,0,0,2,A,D,1,No Deposit,0,Transient,45.00,1,1,Check-Out,2017-01-07
14063,Resort Hotel,0,87,2017,April,15,13,1,3,2,0,0,HB,NaN,Online TA,TA/TO,0,0,0,E,F,0,No Deposit,0,Transient,145.75,1,2,Check-Out,2017-04-17
14064,Resort Hotel,0,20,2016,March,12,16,0,2,1,0,0,BB,NaN,Offline TA/TO,TA/TO,0,0,0,A,D,2,No Deposit,0,Transient,31.00,1,0,Check-Out,2016-03-18
14065,Resort Hotel,0,1,2016,October,43,18,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,0,Transient,42.00,0,0,Check-Out,2016-10-19
14066,Resort Hotel,0,0,2017,February,6,8,0,1,1,0,0,BB,NaN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,34.40,0,1,Check-Out,2017-02-09
14067,Resort Hotel,0,20,2016,June,25,12,2,0,2,0,0,HB,NaN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,161.00,0,0,Check-Out,2016-06-14
14068,Resort Hotel,0,6,2016,January,3,13,0,1,1,0,0,BB,NaN,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,0,Transient,37.00,0,0,Check-Out,2016-01-14
14069,Resort Hotel,0,2,2016,March,14,29,0,0,1,0,0,BB,NaN,Online TA,TA/TO,0,0,1,A,A,0,No Deposit,0,Transient,0.00,0,0,Check-Out,2016-03-29
14070,Resort Hotel,0,267,2016,July,27,2,2,5,2,0,0,HB,NaN,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,90.80,0,0,Check-Out,2016-07-09
14072,Resort Hotel,0,109,2015,August,33,9,2,5,2,0,0,HB,NaN,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,172.38,0,0,Check-Out,2015-08-16
14073,Resort Hotel,0,52,2015,August,36,31,3,7,2,0,0,BB,NaN,Direct,Direct,0,0,0,D,D,1,No Deposit,0,Transient,113.00,0,0,Check-Out,2015-09-10
14075,Resort Hotel,0,11,2016,July,29,10,5,10,2,0,0,BB,NaN,Direct,Direct,0,0,0,A,I,2,No Deposit,0,Transient,4.00,0,0,Check-Out,2016-07-25

In [ ]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103886,0.007949,0.031912,0.087118,0.137097,0.221124,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398555,0.097436,0.175767,0.844336,1.497437,0.652306,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,391.000000,5400.000000,8.000000,5.000000